body {
    margin: 0;
    height: 100vh;
  }
  
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    font-family: sans-serif;
    height: 100%;
    font-size: 14px;
    color: #888888;
  }