body {
    margin: auto;
    font-family: sans-serif;
}

.header {
    display: flex;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
 
}
.header__box {
    display: flex;
    width: 1510px;
    margin: auto;   
    border: 1px;
    border-color: #010541;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    justify-content: space-between;  
    align-items: center;   
}

.header__title {
   font-size: 44px;
   font-weight: bold;
   margin-right: 950px;
}

.header__title span {
    color: #FF5722;
}

.header__logo {
    display: flex;
	align-items: center;
	top: 4px;
	gap: 7px;
}

.header__magazine-cart {
    position: relative;
    left: 65px;
}

.header__heart-icon {
    position: relative;
    left: 37px;
}

.header__basket-number {
    position: absolute;
    border-radius: 15px;
    background-color: #F36223;
    font-weight: bold;
    color: white;
    border-color: transparent;
    right: 303px;
    top: 25px;
}

.header__heart-number {
    position: absolute;
    border-radius: 15px;
    background-color: #F36223;
    font-weight: bold;
    color: white;
    border-color: transparent;
    top: 25px;
    right: 377px;
}

.main__box {
    margin: auto;
    width: 1500px;
}

.wiki {
    color:#008CF0;
    text-decoration: none;
    font-weight: bold;
}

.wiki:hover {
    color :#F36223;
}


.breadcrumbs {
	font-size: 16px;
}

.breadcrumbs__list  {
	color:#008CF0;
    margin-top: 110px;
    margin-bottom: 8px;

}

.breadcrumbs__link {
    text-decoration: none;
}
    
.breadcrumbs__link:hover {
    text-decoration: none;
    color: #F36223;
}

.breadcrumbs__link:active {
    text-decoration: none;
    color: #A93A09;
}

.product-name__title{
	font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}

.position-gallery {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px
}

.position-gallery__img {
    display: flex;
    margin-bottom: 30px;
	height: 387px;
}


.style-box__colors{
    display: flex;
 
}

.style-box__images {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: #a1a1a1 solid 1px;
    border-radius: 4px;
    cursor: pointer
}

.style-box__images img {
	height: 60px;

}   

.style-box__images:hover {
    background: #F2F2F2;
    border-color: #F36223;
    border-width: 2px;
}

.style-box__images:active {
    border-color:  #A93A09;
    border-width: 2px;
}


.memory-configuraions__memory-variant{
	margin-right: 10px;
    border: #888888 solid 1px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background: none;
    font-size: 18px;
	font-weight: bold;
    cursor: pointer
}

.memory-configuraions__memory-variant:hover {
	background-color: #F2F2F2;
    border-color: #F36223;
    border-width: 2px;
} 

.memory-configuraions__memory-variant:active {
	border-color: #A93A09;
    border-width: 2px;
}

.product-specification__list {
    padding: 0px;
	margin-bottom: 30px;
    margin-top: 30px;

    
}
.product-specification__text{
	margin-bottom: 10px;
    list-style: none;
}

.product-specification__text:before {
	content: "•";
    padding-right: 10px;
    font-size: 40px;
    color: #888888;
    vertical-align: middle;
    line-height: 1px
}


.specifications {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    
}

.specifications__left {
    display: flex ;
    flex-direction: column;
    width: 880px;
}

.description {
    width: 880px;
   
}

.model-comparison__title h3 {
    font-size: 16px;
}

.model-comparison__table {
    font-size: 16px;
    width: 880px;
    border-collapse: collapse;
    border: 1px solid #888888;
    border-right: solid 1px black;;
}


.model-comparison__table th {
    padding: 10px;
    border-right: solid 1px;
    border-bottom: solid 1px black;;
}

.model-comparison__table td {
    padding: 10px;
    border-right: solid 1px black;;
}

.table-head:hover {
    background-color: #F2F2F2;
}

.iphone11:hover {
    background-color: #F2F2F2;
}

.iphone12:hover {
    background-color: #F2F2F2;
}

.iphone13:hover {
    background-color: #F2F2F2;
}

.specifications__right {
	display: flex;
    flex-direction: column;
    width: 30%;
}   


.box-price__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 420px;
    height: 275px;
    border-radius: 20px;
    margin-bottom: 40px;

}

.price-block__price {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 20px;
}

.discount {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}


.discount__discount-left {
    display: flex;
    align-items: center;
}

.old-price {
    text-decoration: line-through;
    color: #a1a1a1;
}

.discount__discount-percent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: #F36223;
    margin-left: 10px;
}

.discount__discount-percent p {
    color: white;
    text-decoration: none;
    font-size: 18px;
    flex: 0 0 15px;
}

.price {
    font-size: 30px;
}

.goods-receipt__text {
    margin-left: 20px;
    margin-right: 2px;
    font-size: 16px;
    text-align: justify;
}

.goods-receipt__title {
    margin-bottom: 10px;
}

.add-to-card__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    color: white;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
	font-size: 18px;
    cursor: pointer;
    gap: 15px;
}

.add-to-card__button:hover {
	background-color: #DA4A0C
}

.add-to-card__button:active {
	background-color: #A93A09;
}

.add-to-card__button:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../resources/basket.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.ads__ads-header{
    font-size: 14px;
    margin-bottom: 10px;
    color: #888888;
}

.ads__ads-title {
	display: inline-block;
	height: 300px;
	width: 420px;
	border: 1px dashed #888888;
    background: rgb(231, 230, 230);
    margin-bottom: 15px;
}

.reviews-box__reviews {
    display: flex;
    flex-direction: column;
    width: 880px;
    font-size: 14px;
    margin-top: 55px;
}  

.reviews-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-header__title {
    display: flex;
    margin-bottom: 30px;

}

.reviews-header__text{
    font-size: 24px;
}

.reviews-header__number {
    display: flex;
    align-items: center;
    color: #888888;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px ;
}


.rate__box {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 170px;
    font-size: 16px;
}

.rate__title {
    font-weight: bold;
    margin-bottom: 15px;
}

.rate__first-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rate__form input {
    font-size: 16px;
    border: 1px solid #888888;
    padding-left: 20px;
}

.rate__form input:hover{
    border: 1px solid #000000;
}


.rate__name input {
    width: 475px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rate__rate input {
    width: 155px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rate__text textarea{
    width: 686px;
    height: 190px;
    font-size: 16px;
    border: 1px solid #888888;
    padding-top: 15px;
    padding-left: 20px;
    resize: none;
    font-family: sans-serif;
}


.rate__text textarea:hover {
    border: 1px solid black;
}

input::-webkit-input-placeholder { color:#888888;}

.rate__footer {
    margin-top: 30px;
}

.rate__button button{
    padding: 10px 20px;
    color: white;
    background-color: #F36223;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.rate__button button:hover{
    background-color: #DA4A0C;

}

.rate__button button:active{
    background-color: #A93A09;
}

.rate__box label {
    font-size: 14px;
    font-weight: bold;
}


.reviewer-article__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.line__settings {
    border: 1px solid #888888;
    margin-top: 40px;
    margin-left: 170px;
    margin-bottom: 40px;
    border-style: dashed;
}   


.reviews-box__itself {
    display: flex;
}

.faces {
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

.reviewer-article {
    margin-left: 30px;
}

.star-rating__box {
    display: flex;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.star-rating__img {
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.footer {   
    display: flex;
    font-size: 14px ;
    font-family: sans-serif;
    background-color: #F2F2F2;
    width: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin: auto;
    width: 1500px;
}

.footer__title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer__title span{
    font-weight: bold;
}

.footer__title span span {
    color: #F36223;
}

.footer__title a {
    color:#008CF0;
    text-decoration: none;
}

.footer__title a:hover {
    color: #F36223;
}

.footer__title a:active {
    color: #A93A09;
}

.footer__up a {
    color:#008CF0;
    text-decoration: none;
}

.footer__up a:hover {
    color:#F36223;
}

.footer__up a:active {
    color: #A93A09;
}

.add-to-favorite-btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.add-to-favorite-btn svg{
    width: 26px;
    height: 21px;
    background-color: transparent;
}

.add-to-favorite-btn svg path{
    fill: #888888;
}

.add-to-favorite-btn:hover svg path {
    fill: #F36223;
}

.add-to-favorite-btn:active svg path{
    fill: #A93A09;
} 


@media (min-width: 1024px) and (max-width:1500px) {
    .header__box {
        margin-left: 15px;
    }

    .header__container {
        width: 935px;
    }

    .header__magazine-cart {
        position: relative;
        left: 0px;
    }
    
    .header__heart-icon {
        position: relative;
        left: 0px;
    }

    .header__heart-number {
        position: relative;
        right: 28px;
        top: -32px;
    }

    .header__basket-number {
        position: relative;
        right: 24px;
        top: -32px;
    }


    .header__text {
        width: 250px;
    }
    .main__box {
        width: auto;
        margin: 15px;
    }
    .model-comparison {
        display: none;
    }
    .position-gallery__img {
        height: 272px;
    }

    .rate__box {
        margin-left: 0px;
        width: 594px;
    }

    .rate__name input {
        width: 329px;
    }

    .rate__rate input {
        width: 175px;
        margin-left: 40px;
    }

    .rate__text textarea {
        width: 570px;
    }

    .rate__form {
        margin-bottom: 0px;
    }

    .rate__button button{
        width: 177px;
        height: 39px;
    }

    .specifications {
        width: 594px;
    }
  

    .description {
        display: flex;
        flex-direction: column;
        width: 594px;
    }

    .specifications__right {
        width: 360px;
        margin-left: 40px;
    }

    .reviews-box__reviews {
        display: flex;
        flex-direction: column;
        width: 594px;
    }

    .faces {
        width: 100px;
        height: 100px;
        border-radius: 100px;}

    .goods-receipt__text {
        margin-right: 20px;
    }

    .line__settings {
        margin-left: 130px;
    }

    .star-rating__box {
        width: 100px;
        height: 20px;
    }

    .box-price__box {
        width: 360px;
        height: auto;
    }

    .add-to-card__button {
        width: 320px;
        margin: 20px;
        height: 64px;
    }

    .ads__ads-title {
        width: 360px;
    }
    

    .footer__content {
        padding: 15px;
        max-width: 1024px;
        margin-top: 0px;
        margin: 0px;
    }

    .discount {
        width: 320px;
    }

    .add-to-favorite-btn svg path{
        fill: #888888;
    }
    
    .add-to-favorite-btn svg path:hover {
        fill: #F36223;
    }
    
    .add-to-favorite-btn svg path:active {
        fill: #A93A09;
    } 
}
